#resultats img {
  width: 50px; /* Largeur de l'image */
  height: 50px; /* Hauteur de l'image */
  margin: 5px; /* Marge autour de chaque image */
  border-radius: 50%; /* Bordure arrondie pour les images */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Ombre portée pour les images */
}
img{
  width: 50px; 
  height: 50px;
}

.image-droite {
  width: 500px; /* Largeur de l'image */
  height: 250px; /* Hauteur de l'image */
  float: right; /* Alignement à droite */
  margin-left: 10px; /* Marge à gauche pour éviter le chevauchement du contenu adjacent */
  margin-right: 100px;
  margin-bottom: 10px; /* Marge en bas pour éviter le chevauchement du contenu en dessous */
}
