
img {
  width: 50px;
  height: 50px;
}

.button{
  display: inline-block;
  padding: 10px 20px;
  background-color:#ff9000;
  color:darkgreen;
  text-decoration: none;
  border: 2px solid #bb5000; 
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.5vw;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ee7000;
}

.centerbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@font-face {
  font-family: 'Nanum';
  src: url('NanumPenScript-Regular.ttf') format('truetype');
}

.titre {
  text-align: center;
  font-family: 'Nanum', sans-serif;
  font-size: 8vw;
  color:goldenrod;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:darkolivegreen;
}

.description{
  position: absolute;
  top: 25%;
  left: 50%;
  width: 51.8%;
  transform: translate(-50%, -50%);
  background-color:darkgray;
  border: 2px solid #bb5000; /* Ajout de la bordure */
  font-family: 'Nanum', sans-serif;
  font-size: 2.5vw;
  color:gold;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'Nanum', sans-serif;
  font-size: 1.5vw;
  color:darkgreen;
}

body{
  margin: 0;
  padding: 0;
  background-image: url('/png/bg_recipedle.jpg');
  background-size: cover; /* Pour couvrir l'ensemble de la fenêtre */
  background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
  overflow:hidden;
  background-size: cover; 
  background-repeat: no-repeat; 
}

#resultats img {
  width: 50px; 
  height: 50px; 
  margin: 5px; 
  border-radius: 50%; /* Bordure arrondie pour les images */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Ombre portée pour les images */
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  width: 10%; /* Largeur numéros slider */
  margin-top: 10px;
  font-size: 14px;
}

.slider-labels span {
  text-align: center;
  width: 16px; /* Largeur numéros slider */
}


.image-droite {
  width: 500px; /* Largeur de l'image */
  height: 250px; /* Hauteur de l'image */
  float: right; /* Alignement à droite */
  margin-left: 10px; /* Marge à gauche pour éviter le chevauchement du contenu adjacent */
  margin-right: 100px;
  margin-bottom: 10px; /* Marge en bas pour éviter le chevauchement du contenu en dessous */
}

.jeu {
  position: absolute;
  top: 18%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, 0%);
  background-color:darkgray;
  border: 2px solid #bb5000; /* Ajout de la bordure */
  font-family: 'Nanum', sans-serif;
}

.jeucontenu {
  position : relative;
  color: darkgreen;
  font-size: 1.5vw;
  width:fit-content;
  margin: auto;
}
.result1 {
  left: 30%;
}

.descjeu {
  font-size: 2.5vw;
  color:gold;
}



@keyframes confetti-fall {
  0% {
      transform: translateY(-100vh) rotate(0deg);
  }
  100% {
      transform: translateY(100vh) rotate(720deg);
  }
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f00;
  border-radius: 50%;
  animation: confetti-fall 2s linear infinite;
}

.emoji {
  position: absolute;
  opacity: 1;
  animation: explode 2s forwards ease-out;
  font-size: 3em;
  left: 0; /* Positionner l'emoji sur toute la largeur */
  top: 0; /* Positionner l'emoji sur toute la hauteur */
}

@keyframes explode {
  0% {
      transform: scale(0);
      opacity: 100;
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

@keyframes fall {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(100vh);
  }
}